
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  height: 70px;
  width: 200px;
  margin-left: 20px;
  font-family: Courier New;
  font-size: 20px;
  color: black;
  border-radius: 10px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 110px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 5px 6px 8px;
  text-decoration: none;
  font-size: 25px;
 /* color:transparent black;*/
  display: block;
  text-align: center;
}

.sidenav a:hover {
  color:blue;
}
header{
  background-color: #0099FF;
  padding: 10px;
  font-size: 30px;
  border: none;
  color: black;
  font-weight: bold;
  position: fixed;
  width: 100%;
  /*margin-top: 10px;*/
  
}
table {
  font-family: Courier New;
  width: 50%;
  margin-top: 20px;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 20px;
}
th{
  background-color: #3399FF;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.mine{
  width: 100px;
  height: 150px;
  margin-left: 80px;
  border-radius: 100%;
}
.unique{
  width: 100px;
  height: 70px;
  border-radius: 100%;
  margin-top: 5px;

}
.charts{
    height: 300px;
    width: 300px;
    margin-top: 30px;
}
h3{
  margin-left: 1000px;
  background-color: black;
  width: 350px;
  height: 50px;
  border: solid;
  color: white;
  text-align: center;
  padding-top: 10px;
}
h4{
  margin-left: 600px;
  background-color: black;
  width: 350px;
  height: 50px;
  border: solid;
  color: white;
  text-align: center;
  margin-top: 100px;
  
}
/*studentList*/
.picture{
   height:770px;
   width:800px;
   margin-left: 350px;
   margin-top: 5px;


}
.pictures{
  height:770px;
  width:800px;
  margin-left: 350px;
  margin-top: 5px;
}
.picturess{
  height:770px;
  width:800px;
  margin-left: 350px;
  margin-top: 5px;
}
.one{
  margin-top: 50px;
}
.but{
  height: 30px;
  width: 90px;
  font-family: Courier;
  border-radius: 10px;
  margin-left: 10px;
  /*color: white;*/
}
.times{
  margin-left: -100px;
  background-color: transparent;
  width: 630px;
  height: 100px;
  border: solid;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 50px;
  margin-top: 120px;
}
.company{
  margin-left: 300px;
  width: 75%;
  height: 200%;
  text-align: center;
  margin-top: 100px;
 
}
h5{
   height:50px;
   width:902px;
   font-size: 20px;
   padding-top: 20px;
   margin-left: 350px;
   margin-top: 10px;
   background-color: black;
   border: solid;
   color: white;
   text-align: center;
}
.first{
  margin-left: 500px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  height: 500px;
  background-color: blue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
  /*font-style: italic;*/
  text-decoration: none;
  color: white;
  margin-left: 80px;
  margin-top: 10px;
}
a:hover{
  text-decoration: none;
  color: white;
}

#navStyle{
  margin-top: 100px;
  margin-left: -30px;
  font-size: 30px;
  font-family: Courier New;
}
#navStyle1{
  margin-left: -30px;
  font-size: 30px;
  font-family: Courier New;
}
#logo{
  width: 80px;
  height: 80px;
}
h5{
  font-family: Courier New;
}
#updateBtn{
  margin-left: -10px;
  color: white;
  text-align: center;
}
#deleteBtn{
  color: white;
  margin-left: 10px;
  text-align: center;
}
.label-medium {
  vertical-align: super;
  font-size: 30px;
  margin-left: 100px;
  font-family: Courier New;
  color: white;
  background-color: transparent;
}
/*.labellabel-default{
  font-size: 50px;
  margin-left: 30px;
}*/
/*#home{
  margin-left: 80px;
  height: 30px;
}*/
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.images{
   height: 200px;
   width: 300px;
}
